<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["WEB.styles.css"]" />
    <link rel="stylesheet" href="@Assets["icons.css"]" />
    <link rel="stylesheet" href="@Assets["shared.css"]" />
    <link rel="stylesheet" href="@Assets["norecordfound.css"]" />
    <link rel="stylesheet" href="@Assets["selectmonographdisplay.css"]" />
    <link rel="stylesheet" href="@Assets["cusbutton.css"]" />
    <link rel="stylesheet" href="@Assets["toggleswitch.css"]" />
    <link rel="stylesheet" href="@Assets["detailsmonograph.css"]" />
    <link rel="stylesheet" href="@Assets["cusdropdown.css"]" />
    <link rel="stylesheet" href="@Assets["pagination.css"]" />
    <link rel="stylesheet" href="@Assets["skeleton.css"]" />
    <link rel="stylesheet" href="@Assets["errordisplay.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
