@page "/"
@rendermode InteractiveServer



<div class="container-fluid p-0 text-center position-relative">
    <img src="images/header.svg" class="img-fluid w-100" alt="biogesic" />
    <div class="d-flex flex-row position-absolute top-0 start-0 w-100 margin-left py-4">
        <WEB.Components.Shared.CusButton Class="h-50" Text="Reset" Type="Shared.CusButton.ButtonType.danger" OnClick="OnClear" />
        <div class="d-flex flex-column w-50">
            <div class="d-flex justify-content-between">
                <input type="text" class="form-control mx-1" placeholder="Search..." @bind-value="_searchText" />
                <WEB.Components.Shared.CusButton Text="Search" Type="Shared.CusButton.ButtonType.info" OnClick="OnSearch" />
            </div>
            <div class="d-flex justify-content-start pt-2 px-1">
                <WEB.Components.Shared.CusDropdown SelectedType="@_SelectedType" Options="@_MonographDropdown?.Select(x => x.MonographType)" OnSelected="SelectTypeOption" />
                <WEB.Components.Shared.ToggleSwitch IsAscending="@_isAscending" OnToggle="OnToggleSortBy" />
            </div>
        </div>
    </div>
</div>

@if (_pagedMonographs.Count == 0)
{
    <WEB.Components.Shared.NoRecordFound />
}
else
{

    <div class="d-flex flex-row justify-content-start">
        <div class="w-50 p-4">
            <WEB.Components.Shared.ListView Items="_pagedMonographs"
                                            SelectedMonograph="_selectedMonograph"
                                            OnItemSelected="OnClickMonographs" />


            <WEB.Components.Shared.Pagination CurrentPage="_currentPage"
                                              TotalPages="_totalPages"
                                              OnPageChanged="HandlePageChange"
                                              OnPageSizeChanged="HandlePageSizeChange"
                                              RecordCount="@_filteredList.Count"
                                              VisibleThreshold="3"
                                              DefaultPageSize="_pageSize" />
        </div>
        <div class="px-5 w-100">
            <div class="sticky w-100 pt-4">
                @if (_selectedMonograph != null || _lodingDetails)
                {
                    if (_lodingDetails)
                    {
                        <WEB.Components.Shared.Skeleton />
                    }
                    else
                    {
                        <div class="justify-content-center w-100">
                            <ul class="nav nav-pills pt-2 pb-5">
                                <li class="nav-item">
                                    <a class="nav-link @GetActiveClass("JSON")" @onclick='() => SetActiveTab("JSON")' href="#">JSON</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @GetActiveClass("Raw JSON")" @onclick='() => SetActiveTab("Raw JSON")' href="#">Raw JSON</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @GetActiveClass("DetailHtmlData")" @onclick='() => SetActiveTab("DetailHtmlData")' href="#">DetailHtmlData</a>
                                </li>
                            </ul>
                        </div>


                        <div class="tab-content" id="nav-tabContent">
                            @if (_activeTab == "JSON")
                            {
                                <WEB.Components.Pages.TabMenu.Json Details="_selectedMonograph" />
                            }
                            else if (_activeTab == "Raw JSON")
                            {
                                <WEB.Components.Pages.TabMenu.RawJson Details="_selectedMonograph" />
                            }
                            else if (_activeTab == "DetailHtmlData")
                            {
                                <WEB.Components.Pages.TabMenu.DetailHtmlData Details="_selectedMonograph" />
                            }
                        </div>
                    }
                }
                else
                {
                    <WEB.Components.Shared.SelectMonographDisplay />
                }
            </div>
        </div>
    </div>
}